@import "../../base/variables.scss";

.title {
    color: $title-color;
    font: $title-font;
}

.subtitle {
    color: $subtitle-color;
    font: $subtitle-font;
}

.objective {
    color: $title-color;
    font: $card-title-font;
}
.objective-title {
    text-decoration: underline;
    font-weight: bolder;
    font: $subtitle-font;
}
