@import "../../base/variables.scss";

.modal-title {
    font: $title-font;
    margin-bottom: 8px;
}

.modal-content {
    font: $subtitle-font;
}

.modal-sub-heading {
    font: bold 1rem $font-family;
}