@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

$background-color: rgba(100, 100, 100, 1);
$grid-item-color: rgba(255, 255, 255, 1);
$font-family: "Poppins", sans-serif;
$title-font: bold 1.5rem $font-family;
$subtitle-font: 1rem $font-family;
$card-title-font: bold 0.9em $font-family;
$card-subtitle-font: 0.7em $font-family;
$card-date-font: 0.5rem $font-family;
$card-date-color: rgba(155, 155, 155, 0.8);
$card-content-title-font: 900 0.8rem $font-family;
$card-content-font: 400 0.75rem $font-family;
$title-color: black;
$subtitle-color: gray;